.col.l-3
    +headingAndImg("danh mục sản phẩm")
    .category   
        h2.category-heading rượu ngoại    
        p.category-item Rượu Chivas (26)
        p.category-item Hàng độc - Rượu độc đáo (36)
        p.category-item Johnnie Walker (46)
        p.category-item Rượu Whisky (24)
        p.category-item Rượu Remy Martin (16)
        p.category-item Rượu Glenmorangie (11)
        p.category-item Rượu Ballantine's (11)
        p.category-item Rượu Cognac (41)
        p.category-item Rượu Vodka (91)
        p.category-item Rượu Macallan (19)
        p.category-item Rượu Brandy (62)
        p.category-item Rượu Hennessny (20)
        p.category-item Rượu Gin-Tequila-Liqueur-Rượu mùi (36)
        p.category-item Rượu Champagn (12)
        p.category-item Rượu Single malt Scotch whisky (47)
        p.category-item Rượu Spirits (4)
        h2.category-heading rượu vang    
        p.category-item Rượu Vang Pháp (26)
        p.category-item Rượu Vang Úc (26)
        p.category-item Rượu Vang Mỹ (26)
        p.category-item Rượu Vang Chile (26)
        p.category-item Rượu Vang Philip (26)
        p.category-item Rượu Vang Nam Phi (26)
        p.category-item Rượu Vang Ý (26)
    .category-comparison
        +headingAndImg("so sánh sản phẩm")
        p.category-item Bạn chưa có sản phẩm nào để so sánh 
    .category-tag
        +headingAndImg("Tag sản phẩm")
    button.btn-primary-ver2 Đồng hồ
    button.btn-primary-ver2 Túi
    button.btn-primary-ver2 Phụ kiện
    button.btn-primary-ver2 Giày
    button.btn-primary-ver2 Sandal
    button.btn-primary-ver2 Áo sơ mi
    button.btn-primary-ver2 Nước hoa
    button.btn-primary-ver2 Trẻ em 
    button.btn-primary-ver2 Thời trang nữ
    img(class="category-img" src="./assets/images/category.jpg" alt="")

