footer.footer 
    .footer-main
        .grid.wide 
            img(class="footer-img" src="./assets/images/img_footer1.jpg", alt="")
            .footer-content
                .row
                    .col.l-2.m-12.c-12
                        h2.footer-content-heading Thông tin
                        .footer-content-text Về chúng tôi
                        .footer-content-text Giao hàng 
                        .footer-content-text Cảm nghĩ
                        .footer-content-text Lưu trữ
                        .footer-content-text Chính sách riêng tư
                    .col.l-2.m-12.c-12
                        h2.footer-content-heading Mua hàng
                        .footer-content-text Vận chuyển và trả hàng
                        .footer-content-text Mua hàng an toàn 
                        .footer-content-text Vận chuyển quốc tế
                        .footer-content-text Liên kết 
                        .footer-content-text Dịch vụ giảm giá
                    .col.l-4.m-12.c-12
                        h2.footer-content-heading Gửi thông tin
                        .footer-content-text-email Gửi email cho chúng tôi để được hỗ trợ
                        .footer-content-email
                            input(class="footer-content-input" type="email" placeholder="Enter your email")
                            button.emaill-btn GỬI
                        .footer-content-icons
                            a
                                <i class="fa-brands fa-twitter footer-content-icon"></i>
                            a
                                <i class="fa-brands fa-google-plus-g footer-content-icon"></i>
                            a
                                <i class="fa-brands fa-linkedin-in footer-content-icon"></i>

                    .col.l-4.m-12.c-12
                        h2.footer-content-heading Liên hệ
                        .footer-contact
                            <i class="fa-sharp fa-solid fa-location-pin footer-content-icon-social"></i>
                            span.footer-contact-text Tầng 4, Tòa nhà Hanoi Group, Số 442 Đội Cấn,<br> P.Cống Vị, Q.Ba Đình, Hà Nội
                        .footer-contact
                            <i class="fa-solid fa-blender-phone footer-content-icon-social"></i> 
                            span.footer-contact-text (04) 56773883 
                            span.footer-contact-hyphen -
                            <i class="fa-solid fa-blender-phone footer-content-icon-social"></i>
                            span.footer-contact-text (04) 56773883
                        .footer-contact
                            <i class="fa-solid fa-blender-phone footer-content-icon"></i>
                            span.footer-contact-text (08) 56773883
                            <i class="fa-solid fa-envelope footer-content-icon"></i>
                            a.footer-contact-link Support@bizweb.vn
    .footer-end 
        .footer-end-content
            .grid.wide  
                .row
                    .col.l-8.m-12.c-12
                        <i class="footer-end-icon-copy fa-solid fa-copyright"></i>
                        span.footer-end-text Copyright 2008-2014 DKT Technology JSC
                    .col.l-4.m-12.c-12
                        <i class="footer-end-icon fa-solid fa-brands fa-cc-mastercard"></i>
                        <i class="footer-end-icon fa-solid fa-brands fa-cc-visa"></i>
                        <i class="footer-end-icon fa-solid fa-brands fa-cc-paypal"></i>
        

                        



                         


