header
    .grid.wide.header
        ul.header-navbar
            li.header-navbar-item
                a Tài khoản của tôi
            li.header-navbar-item 
                a Trạng thái đơn hàng 
            li.header-navbar-item.active 
                a Danh sách ưa thích
            li.header-navbar-item 
                a Giỏ hàng 
            li.header-navbar-item 
                a Đăng nhập 
            li.header-navbar-item 
                a Đăng ký
        .header-navbar-search 
            input(class="header-navbar-search-input" type="text" placeholder="Tìm kiếm ở đây")
            <i class="header-icon fa-solid fa-magnifying-glass"></i>
