.navbar    
    .grid.wide
        .row
            img(class="navbar-img" src="./assets/images/logofake.png", alt="")
            ul.navbar-list
                a.navbar-list-link
                    li.navbar-item Trang chủ
                a.navbar-list-link
                    li.navbar-item Rượu vang đỏ
                        .navbar-item-hover
                            ul.item-lists 
                                    li.item-list-item
                                        a.item-list-item-link Rượu Chivas
                                    li.item-list-item
                                        a.item-list-item-link Hàng độc - Rượu độc đáo
                                    li.item-list-item
                                        a.item-list-item-link Johnnie Walker
                                    li.item-list-item
                                        a.item-list-item-link Rượu Whisky
                                    li.item-list-item
                                        a.item-list-item-link Rượu Renny Martin
                                    li.item-list-item
                                        a.item-list-item-link Rượu Glenmorangie
                            ul.item-lists
                                    li.item-list-item
                                        a.item-list-item-link Rượu Chivas
                                    li.item-list-item
                                        a.item-list-item-link Hàng độc - Rượu độc đáo
                                    li.item-list-item
                                        a.item-list-item-link Johnnie Walker
                                    li.item-list-item
                                        a.item-list-item-link Rượu Whisky
                                    li.item-list-item
                                        a.item-list-item-link Rượu Renny Martin
                                    li.item-list-item
                                        a.item-list-item-link Rượu Glenmorangie
                            ul.item-lists
                                    li.item-list-item
                                        a.item-list-item-link Rượu Chivas
                                    li.item-list-item
                                        a.item-list-item-link Hàng độc - Rượu độc đáo
                                    li.item-list-item
                                        a.item-list-item-link Johnnie Walker
                                    li.item-list-item
                                        a.item-list-item-link Rượu Whisky
                                    li.item-list-item
                                        a.item-list-item-link Rượu Renny Martin
                                    li.item-list-item
                                        a.item-list-item-link Rượu Glenmorangie
                            .item-img
                                img(src="./assets/images/navbar.jpg")        

                a.navbar-list-link
                    li.navbar-item Rượu trắng
                a.navbar-list-link
                    li.navbar-item Champagn
                a.navbar-list-link
                    li.navbar-item Thông tin
                a.navbar-list-link
                    li.navbar-item Blog
                a.navbar-list-link
                    li.navbar-item Liên hệ
