.portfolio-menu
    <i class="fa-solid fa-list"></i>
    .portfolio-page     
        <i class="fa-solid fa-caret-left"></i>
        span 1
        span 2
        span 3
        span 4
        span 5
        <i class="fa-solid fa-caret-right"></i>