extends layout.pug
block main 
    .grid.wide 
        .page   
            span.page1 Trang chủ 
            span.slashmark /
            span.page2 Blog
        +headingAndImg("blog")
        .row    
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            .col.l-4 
                +blogItem("./assets/images/blog2.jpg") 
            
