extends layout.pug
block main
    .grid.wide 
        .page   
            span.page1 Trang chủ 
            span.slashmark /
            span.page1 Sản phẩm 
            span.slashmark /
            span.page2 Giỏ hàng
        +headingAndImg("giỏ hàng")
        .cart-table
            .row 
                .col.l-2
                    h2.cart-table-heading Ảnh
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading Tên sản phẩm
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading Giá 
                .col.l-2
                    h2.cart-table-heading số lượng
                .col.l-1 
                    h2.cart-table-heading tổng số
                .col.l-1 
                    h2.cart-table-heading xóa
            .row 
                .col.l-2
                    img(class="cart-img" src="./assets/images/47.jpeg", alt="")
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading rượu vang đỏ
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading.primary.price 345.000đ 
                .col.l-2
                    h2.cart-table-heading 1
                .col.l-1 
                    h2.cart-table-heading.primary.price 345.000đ
                .col.l-1 
                    <i class="cart-icon fa-solid fa-trash-can"></i>
            .row 
                .col.l-2
                    img(class="cart-img" src="./assets/images/47.jpeg", alt="")
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading rượu vang đỏ
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading.primary.price 345.000đ 
                .col.l-2
                    h2.cart-table-heading 1
                .col.l-1 
                    h2.cart-table-heading.primary.price 345.000đ
                .col.l-1 
                    <i class="cart-icon fa-solid fa-trash-can"></i>
            .row 
                .col.l-2
                    img(class="cart-img" src="./assets/images/47.jpeg", alt="")
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading rượu vang đỏ
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading.primary.price 345.000đ 
                .col.l-2
                    h2.cart-table-heading 1
                .col.l-1 
                    h2.cart-table-heading.primary.price 345.000đ
                .col.l-1 
                    <i class="cart-icon fa-solid fa-trash-can"></i>
            .row 
                .col.l-2
                    img(class="cart-img" src="./assets/images/47.jpeg", alt="")
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading rượu vang đỏ
                .col.l-1 
                .col.l-2
                    h2.cart-table-heading.primary.price 345.000đ 
                .col.l-2
                    h2.cart-table-heading 1
                .col.l-1 
                    h2.cart-table-heading.primary.price 345.000đ
                .col.l-1 
                    <i class="cart-icon fa-solid fa-trash-can"></i>
            