extends layout.pug
block main
    .grid.wide 
        .page   
            span.page1 Trang chủ 
            span.slashmark /
            span.page2 Giới thiệu
        +headingAndImg("giới thiệu")
        .row    
            .col.l-5 
                img(class="img-introduce-content" src="./assets/images/introduce-2.jpg", alt="")
            .col.l-6
                h2.page-heading Chào mừng đến với wine hourse
                p.blog-description Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên tử hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên tử hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml .