extends layout.pug
block main
    .grid.wide  
        .page   
            span.page1 Trang chủ 
            span.slashmark /
            span.page1 Sản phẩm 
            span.slashmark /
            span.page2 Rượu vang đỏ
        img(class="portfolio-img" src="./assets/images/Layer 78.jpg")
        .row 
            include ./modules/category.pug
            .col.l-9
                include ./modules/portfolio_menu.pug
                .row    
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')
                    .col.l-4 
                        +productItem('./assets/images/1.jpg')


