.product {
    text-align: center;
}

.product-img {
    margin-bottom: 20px;
}

.product-name {
    margin: 10px 0;
    font-weight: 500;
}

.product-price-current {
    font-size: 16px;
    margin-right: 10px;
        color: $primary-color;
    
}

.product-price-old {
    color: $rgba-color;
    text-decoration: line-through;
    margin-left: 5px;
}